@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Color Palette */
:root {
  /* --primary-color: #3d405b;
  --secondary-color: #e07a5f;
  --third-color: #f4f1de; */

  --primary-color: #273043;
  --secondary-color: #9197ae;
  --third-color: #eff6ee;

  /* --primary-color: #222831;
  --secondary-color: #00ADB5;
  --third-color: #EEEEEE; */

  --xtra-color: #393E46;
}

/* Base Styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #f8f8f8;
}
body {
  height: 100vh;
  width: 100%;
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: var(--primary-color); */
}

.navbar h1 {
  font-size: 24px;
  color: var(--third-color);
}

@media (max-width: 600px) {
  .navbar {
    justify-content: center; /* Center align on smaller screens */
  }
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links a {
  margin-left: 16px;
  text-decoration: none;
  color: var(--third-color);
  padding: 6px;
  transition: color 0.3s ease;
}

.navbar .links a:hover {
  color: var(--secondary-color);
}

.navbar .links button {
  color: var(--third-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-left: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .links button:hover {
  background-color: var(--secondary-color);
}

.navbar .user-email {
  margin-left: 16px;
  color: var(--third-color);
  font-size: 14px;
}


/* Login Form */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-page:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -1;
  border-radius: 20px;
}

.register-form {
  position: relative;
  z-index: 1;
  background: #ffffff2c;
  max-width: 360px;
  border-radius: 10px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  border: 1px solid #ddd;
}

.form input {
  font-family: "Quicksand", "Roboto", sans-serif;
  outline: 0;
  background: #f8f8f8;
  color: #5f6476; /* Change the text color to black */
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form button {
  font-family: "Quicksand", "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0b8793;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background-color: #097c88;
}

.form .message {
  margin: 15px 0 0;
  color: #fff;
  font-size: 15px;
}

.form .message a {
  color: #0b8793;
  text-decoration: none;
  font-weight: bold;
}

.form h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* video uploader css */
.file-uploader {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  background: #ffffff1f;  /* fallback for old browsers */
  }

.upload-label {
  display: inline-block;
  cursor: pointer;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
}

.upload-icon {
  font-size: 36px;
}

.upload-text {
  margin-top: 10px;
}

.file-actions {
  margin-top: 20px;
}

.upload-button:disabled,
.convert-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.download-button,
.upload-button,
.convert-button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #0b8793;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover,
.upload-button:hover,
.convert-button:hover {
  background-color: #097c88;
}
